<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  bootstrap="tests/bootstrap.php" 
  colors="true" verbose="true" cacheResult="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Tests">
      <directory suffix=".php">tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
